.bikes__title {

}

@media screen and (max-width: 480px) {
  .bikes__title {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    max-width: 284px;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    align-self: flex-start;
  }
}