.root {
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
}

.page {
  background-color: #f4f4f4;
  box-sizing: content-box;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 3px solid red;
}
.page_theme_dark {
  background-color: #333333;
  color: white;
}

.header {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: #f4f4f4;
  z-index: 10;
}
.header_theme_dark {
  background-color: #333333;
  color: white;
}
.header__burger-line {
  display: block;
  position: absolute;
  height: 3px;
  width: 22px;
  background: #151515;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}
.header__burger-line:nth-of-type(1) {
  top: 0;
}
.header__burger-line:nth-of-type(2) {
  top: 8px;
}
.header__burger-line:nth-of-type(3) {
  top: 16px;
}
.header__burger-line_active_true:nth-of-type(1) {
  top: 9.5px;
  transform: rotate(135deg);
}
.header__burger-line_active_true:nth-of-type(2) {
  opacity: 0;
  left: -22px;
}
.header__burger-line_active_true:nth-of-type(3) {
  top: 9.5px;
  transform: rotate(-135deg);
}
.header__burger-menu {
  width: 22px;
  height: 19px;
  margin: 28px 18px 30px auto;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  position: relative;
}
@media screen and (max-width: 800px) {
  .header__burger-menu {
    display: flex;
  }
}
.header__navigation-element {
  color: inherit;
  margin-top: 28px;
  margin-bottom: 28px;
}
.header__navigation-element:nth-of-type(2) {
  margin-left: 28px;
  margin-right: 28px;
}
@media screen and (max-width: 800px) {
  .header__navigation-element {
    margin: 0;
    margin-bottom: 32px;
  }
}
.header__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
@media screen and (max-width: 800px) {
  .header__navigation-list {
    flex-direction: column;
    align-items: center;
  }
}
.header__navigation-list_theme_dark {
  color: white;
}
.header__navigation-panel {
  margin-left: auto;
  margin-right: calc(100vw/12);
  margin-left: calc(100vw/12);
  display: flex;
}
@media screen and (max-width: 800px) {
  .header__navigation-panel {
    display: none;
  }
}
.header__navigation-panel_menu_active {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .header__navigation-panel_menu_active {
    justify-content: center;
    margin-top: 70px;
  }
}
.header__navigation-text {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: clamp(7.7777777778px, calc(7.7777777778px + (100vw - 800px)*(6.2222222222/640)), 14px);
  line-height: clamp(10px, calc(10px + (100vw - 800px)*(8/640)), 18px);
  transition: opacity;
  cursor: pointer;
}
.header__navigation-text:hover {
  opacity: 0.75;
}
@media screen and (max-width: 800px) {
  .header__navigation-text {
    font-weight: 500;
    font-size: clamp(10px, calc(10px + (100vw - 800px)*(8/640)), 18px);
    line-height: clamp(10px, calc(10px + (100vw - 800px)*(8/640)), 18px);
  }
}
.header__menu_active {
  width: 320px;
  height: 644px;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .header {
    max-width: 320px;
    align-self: center;
  }
}

.main {
  box-sizing: border-box;
  margin-top: 74px;
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
}

.introduction {
  max-width: 1440px;
  width: 100%;
  max-height: 856px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "title picture" "description picture" "button picture" "manufacturer picture";
  justify-content: end;
  padding-left: 18px;
  padding-top: 20px;
  grid-template-columns: minmax(195px, 585px) minmax(100px, 735px);
  grid-template-rows: -webkit-min-content -webkit-min-content 50px -webkit-min-content;
  grid-template-rows: min-content min-content 50px min-content;
  position: relative;
}
@media screen and (max-width: 800px) {
  .introduction {
    width: 320px;
    display: grid;
    grid-template-areas: "title" "picture" "description" "button";
    justify-content: center;
    -moz-column-gap: unset;
         column-gap: unset;
    padding-right: 18px;
    grid-template-columns: 320px;
    grid-template-rows: 160px 348px 152px 86px;
    justify-items: center;
  }
}
.introduction__card-frame {
  box-sizing: border-box;
  width: clamp(244.4444444444px, calc(244.4444444444px + (100vw - 800px)*(195.5555555556/640)), 440px);
  height: clamp(166.6666666667px, calc(166.6666666667px + (100vw - 800px)*(133.3333333333/640)), 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: -20px 13px 20px 6px rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  margin-top: clamp(223.9726027397px, calc(223.9726027397px + (100vw - 800px)*(103.0273972603/640)), 327px);
  margin-bottom: clamp(54.1095890411px, calc(54.1095890411px + (100vw - 800px)*(24.8904109589/640)), 79px);
  margin-right: auto;
  z-index: 2;
  background-color: #f4f4f4;
}
@media screen and (max-width: 800px) {
  .introduction__card-frame {
    position: static;
    width: 234px;
    height: 160px;
    margin-top: 151px;
    margin-bottom: 0;
    box-shadow: -9px 11px 20px 0px rgba(0, 0, 0, 0.2);
  }
}
.introduction__card-picture {
  z-index: 2;
  width: clamp(188.8888888889px, calc(188.8888888889px + (100vw - 800px)*(151.1111111111/640)), 340px);
  height: clamp(144.4444444444px, calc(144.4444444444px + (100vw - 800px)*(115.5555555556/640)), 260px);
}
@media screen and (max-width: 800px) {
  .introduction__card-picture {
    width: 180px;
    height: 138px;
  }
}
.introduction__description {
  margin: 0;
  margin-top: clamp(27.7777777778px, calc(27.7777777778px + (100vw - 800px)*(22.2222222222/640)), 50px);
  margin-bottom: clamp(27.7777777778px, calc(27.7777777778px + (100vw - 800px)*(22.2222222222/640)), 50px);
  padding: 0;
  max-width: 460px;
  font-weight: 400;
  font-size: clamp(10px, calc(10px + (100vw - 800px)*(8/640)), 18px);
  line-height: clamp(15.5555555556px, calc(15.5555555556px + (100vw - 800px)*(12.4444444444/640)), 28px);
  opacity: 0.7;
  grid-area: description;
}
@media screen and (max-width: 800px) {
  .introduction__description {
    font-weight: 400;
    font-size: clamp(6.6666666667px, calc(6.6666666667px + (100vw - 800px)*(5.3333333333/640)), 12px);
    line-height: clamp(10px, calc(10px + (100vw - 800px)*(8/640)), 18px);
    width: 284px;
  }
}
.introduction__description_theme_dark {
  color: #e5e5e5;
}
.introduction__manufacturer-line {
  display: block;
  width: 132px;
  height: 2px;
  background-color: #e3e3e3;
  margin-left: 20px;
}
.introduction__manufacturer-line_theme_dark {
  background-color: #707070;
}
.introduction__manufacturer-row {
  display: flex;
  align-items: center;
  grid-area: manufacturer;
  align-self: start;
  margin-top: clamp(16.7px, calc(16.7px + (100vw - 800px)*(150.3/640)), 167px);
  margin-bottom: clamp(20.9px, calc(20.9px + (100vw - 800px)*(188.1/640)), 209px);
}
@media screen and (max-width: 800px) {
  .introduction__manufacturer-row {
    grid-area: unset;
    display: none;
  }
}
.introduction__manufacturer-tag {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: clamp(10px, calc(10px + (100vw - 800px)*(8/640)), 18px);
  line-height: clamp(10px, calc(10px + (100vw - 800px)*(8/640)), 18px);
}
.introduction__picture {
  background-repeat: no-repeat;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .introduction__picture {
    width: 254px;
    height: 348px;
    margin-top: unset;
  }
}
.introduction__picture-block {
  display: block;
  grid-area: picture;
  background-image: url(./../images/introduction/introduction-picture.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  z-index: 1;
  max-height: 836px;
}
@media screen and (max-width: 800px) {
  .introduction__picture-block {
    width: 284px;
    height: 348px;
    background-size: contain;
  }
}
.introduction__title {
  margin: 0;
  margin-top: clamp(33.3333333333px, calc(33.3333333333px + (100vw - 800px)*(26.6666666667/640)), 60px);
  padding: 0;
  max-width: 460px;
  font-weight: 700;
  font-size: clamp(30.5555555556px, calc(30.5555555556px + (100vw - 800px)*(24.4444444444/640)), 55px);
  line-height: clamp(33.3333333333px, calc(33.3333333333px + (100vw - 800px)*(26.6666666667/640)), 60px);
  letter-spacing: -0.5px;
  grid-area: title;
  align-self: start;
}
@media screen and (max-width: 800px) {
  .introduction__title {
    max-width: 284px;
    font-weight: 700;
    font-size: clamp(17.7777777778px, calc(17.7777777778px + (100vw - 800px)*(14.2222222222/640)), 32px);
    line-height: clamp(22.2222222222px, calc(22.2222222222px + (100vw - 800px)*(17.7777777778/640)), 40px);
    align-self: center;
  }
}
.introduction__detail {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  font-weight: 600;
  font-size: clamp(14px, calc(14px + (100vw - 800px)*(0/640)), 14px);
  line-height: clamp(50px, calc(50px + (100vw - 800px)*(0/640)), 50px);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  background: #24b47e;
  grid-area: button;
  position: relative;
  z-index: 1;
}
.introduction__detail::before {
  content: "";
  width: 0;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: #31a075;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  border-radius: 4px;
}
.introduction__detail:hover::before {
  width: 180px;
  border-radius: 4px;
}
@media screen and (max-width: 800px) {
  .introduction__detail {
    width: 284px;
    line-height: 46px;
  }
  .introduction__detail:hover::before {
    width: 284px;
    border-radius: 4px;
  }
}/*# sourceMappingURL=indexscss.css.map */