.root {
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
}

.page {
  background-color: #f4f4f4;
  box-sizing: content-box;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.page_theme_dark {
  background-color: #333333;
  color: white;
}

.header {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: #f4f4f4;
  z-index: 10;
}
.header_theme_dark {
  background-color: #333333;
  color: white;
}
.header__burger-line {
  display: block;
  position: absolute;
  height: 3px;
  width: 22px;
  background: #151515;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}
.header__burger-line:nth-of-type(1) {
  top: 0;
}
.header__burger-line:nth-of-type(2) {
  top: 8px;
}
.header__burger-line:nth-of-type(3) {
  top: 16px;
}
.header__burger-line_active_true:nth-of-type(1) {
  top: 9.5px;
  transform: rotate(135deg);
}
.header__burger-line_active_true:nth-of-type(2) {
  opacity: 0;
  left: -22px;
}
.header__burger-line_active_true:nth-of-type(3) {
  top: 9.5px;
  transform: rotate(-135deg);
}
.header__burger-menu {
  width: 22px;
  height: 19px;
  margin: 28px 18px 30px auto;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  position: relative;
}
@media screen and (max-width: 800px) {
  .header__burger-menu {
    display: flex;
  }
}
.header__navigation-element {
  color: inherit;
  margin-top: 28px;
  margin-bottom: 28px;
}
.header__navigation-element:nth-of-type(2) {
  margin-left: 28px;
  margin-right: 28px;
}
@media screen and (max-width: 800px) {
  .header__navigation-element {
    margin: 0;
    margin-bottom: 32px;
  }
}
.header__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
@media screen and (max-width: 800px) {
  .header__navigation-list {
    flex-direction: column;
    align-items: center;
  }
}
.header__navigation-list_theme_dark {
  color: white;
}
.header__navigation-panel {
  margin-left: auto;
  margin-right: calc(100vw/12);
  margin-left: calc(100vw/12);
  display: flex;
}
@media screen and (max-width: 800px) {
  .header__navigation-panel {
    display: none;
  }
}
.header__navigation-panel_menu_active {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .header__navigation-panel_menu_active {
    justify-content: center;
    margin-top: 70px;
  }
}
.header__navigation-text {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  transition: opacity;
  cursor: pointer;
}
.header__navigation-text:hover {
  opacity: 0.75;
}
@media screen and (max-width: 800px) {
  .header__navigation-text {
    font-size: 18px;
  }
}
.header__menu_active {
  width: 320px;
  height: 644px;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .header {
    max-width: 320px;
    align-self: center;
  }
}

.main {
  box-sizing: border-box;
  margin-top: 74px;
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  padding-left: clamp(17.9104477612px, calc(17.9104477612px + (100vw - 800px)*(102.0895522388/640)), 120px);
}

.introduction {
  max-width: 1320px;
  width: 100%;
  max-height: 856px;
  box-sizing: border-box;
  display: grid;
  align-self: flex-end;
  grid-template-areas: "title picture" "description picture" "button picture" "manufacturer picture";
  padding-top: 20px;
  grid-template-columns: minmax(195px, 585px) minmax(100px, 735px);
  grid-template-rows: -webkit-min-content -webkit-min-content 50px -webkit-min-content;
  grid-template-rows: min-content min-content 50px min-content;
  position: relative;
}
@media screen and (max-width: 800px) {
  .introduction {
    width: 320px;
    display: grid;
    grid-template-areas: "title" "picture" "description" "button";
    justify-content: center;
    -moz-column-gap: unset;
         column-gap: unset;
    padding-right: 18px;
    grid-template-columns: 320px;
    grid-template-rows: 160px 348px 152px 86px;
    justify-items: center;
  }
}
.introduction__card-frame {
  box-sizing: border-box;
  width: clamp(244.4444444444px, calc(244.4444444444px + (100vw - 800px)*(195.5555555556/640)), 440px);
  height: clamp(166.6666666667px, calc(166.6666666667px + (100vw - 800px)*(133.3333333333/640)), 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: -20px 13px 20px 6px rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  margin-top: clamp(233.5714285714px, calc(233.5714285714px + (100vw - 800px)*(93.4285714286/640)), 327px);
  margin-bottom: clamp(56.4285714286px, calc(56.4285714286px + (100vw - 800px)*(22.5714285714/640)), 79px);
  margin-right: auto;
  z-index: 2;
  background-color: #f4f4f4;
}
@media screen and (max-width: 800px) {
  .introduction__card-frame {
    position: static;
    width: 234px;
    height: 160px;
    margin-top: 151px;
    margin-bottom: 0;
    box-shadow: -9px 11px 20px 0px rgba(0, 0, 0, 0.2);
  }
}
.introduction__card-picture {
  z-index: 2;
  width: clamp(188.8888888889px, calc(188.8888888889px + (100vw - 800px)*(151.1111111111/640)), 340px);
  height: clamp(144.4444444444px, calc(144.4444444444px + (100vw - 800px)*(115.5555555556/640)), 260px);
}
@media screen and (max-width: 800px) {
  .introduction__card-picture {
    width: 180px;
    height: 138px;
  }
}
.introduction__description {
  margin: 0;
  margin-top: clamp(27.7777777778px, calc(27.7777777778px + (100vw - 800px)*(22.2222222222/640)), 50px);
  margin-bottom: clamp(27.7777777778px, calc(27.7777777778px + (100vw - 800px)*(22.2222222222/640)), 50px);
  padding: 0;
  max-width: 460px;
  font-weight: 400;
  font-size: clamp(12px, calc(18px - (1440px - 100vw)*(6/1120)), 18px);
  font-weight: 400;
  line-height: clamp(18px, calc(28px - (1440px - 100vw)*(10/1120)), 28px);
  opacity: 0.7;
  grid-area: description;
}
@media screen and (max-width: 800px) {
  .introduction__description {
    width: 284px;
  }
}
.introduction__description_theme_dark {
  color: #e5e5e5;
}
.introduction__manufacturer-line {
  display: block;
  width: 132px;
  height: 2px;
  background-color: #e3e3e3;
  margin-left: 20px;
}
.introduction__manufacturer-line_theme_dark {
  background-color: #707070;
}
.introduction__manufacturer-row {
  display: flex;
  align-items: center;
  grid-area: manufacturer;
  align-self: start;
  margin-top: clamp(92.7777777778px, calc(92.7777777778px + (100vw - 800px)*(74.2222222222/640)), 167px);
  margin-bottom: clamp(116.1111111111px, calc(116.1111111111px + (100vw - 800px)*(92.8888888889/640)), 209px);
}
@media screen and (max-width: 800px) {
  .introduction__manufacturer-row {
    grid-area: unset;
    display: none;
  }
}
.introduction__manufacturer-tag {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: clamp(18px, calc(18px - (1440px - 100vw)*(0/1120)), 18px);
  font-weight: 400;
  line-height: clamp(18px, calc(18px - (1440px - 100vw)*(0/1120)), 18px);
}
.introduction__picture {
  background-repeat: no-repeat;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .introduction__picture {
    width: 254px;
    height: 348px;
    margin-top: unset;
  }
}
.introduction__picture-block {
  display: block;
  grid-area: picture;
  background-image: url(./../images/introduction/introduction-picture.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  z-index: 1;
  max-height: 836px;
}
@media screen and (max-width: 800px) {
  .introduction__picture-block {
    width: 284px;
    height: 348px;
    background-size: contain;
  }
}
.introduction__title {
  margin: 0;
  margin-top: clamp(33.3333333333px, calc(33.3333333333px + (100vw - 800px)*(26.6666666667/640)), 60px);
  padding: 0;
  max-width: 460px;
  font-weight: 700;
  font-size: clamp(32px, calc(60px - (1440px - 100vw)*(28/1120)), 60px);
  font-weight: 700;
  line-height: clamp(40px, calc(60px - (1440px - 100vw)*(20/1120)), 60px);
  letter-spacing: -0.5px;
  grid-area: title;
  align-self: start;
}
@media screen and (max-width: 800px) {
  .introduction__title {
    max-width: 284px;
    align-self: center;
  }
}
.introduction__detail {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  font-weight: 600;
  font-size: clamp(14px, calc(14px - (1440px - 100vw)*(0/1120)), 14px);
  line-height: 50px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  background: #24b47e;
  grid-area: button;
  position: relative;
  z-index: 1;
}
.introduction__detail::before {
  content: "";
  width: 0;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: #31a075;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  border-radius: 4px;
}
.introduction__detail:hover::before {
  width: 180px;
  border-radius: 4px;
}
@media screen and (max-width: 800px) {
  .introduction__detail {
    width: 284px;
    line-height: 46px;
  }
  .introduction__detail:hover::before {
    width: 284px;
    border-radius: 4px;
  }
}

.bikes {
  max-width: 1440px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
}
.bikes__bike-name {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: clamp(14px, calc(18px - (1440px - 100vw)*(4/1120)), 18px);
  font-weight: 600;
  line-height: clamp(18px, calc(22px - (1440px - 100vw)*(4/1120)), 22px);
  position: absolute;
  bottom: -42px;
  left: 6px;
}
@media screen and (max-width: 800px) {
  .bikes__bike-name {
    width: 140px;
    text-align: center;
    position: unset;
  }
}
.bikes__bikes-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
@media screen and (max-width: 800px) {
  .bikes__bikes-nav {
    display: none;
  }
}
.bikes__bikes-nav-element {
  margin: 0;
  padding: 0;
  max-width: 62px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  cursor: pointer;
}
.bikes__bikes-nav-element:hover {
  opacity: 0.6;
}
.bikes__bikes-nav-element:nth-child(2) {
  margin-left: 40px;
  margin-right: 40px;
}
.bikes__bikes-nav-element_theme_dark {
  color: #e5e5e5;
}
.bikes__bikes-nav-element_active_true {
  opacity: 1;
  font-weight: 600;
  color: inherit;
}
.bikes__bikes-nav-element_active_true:hover {
  opacity: 0.75;
}
.bikes__bikes-row {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: baseline;
  margin-bottom: 60px;
  padding-right: 18px;
}
@media screen and (max-width: 800px) {
  .bikes__bikes-row {
    max-width: 284px;
    margin-bottom: 0px;
    border-top: 1px solid #e3e3e3;
  }
}
.bikes__card-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.bikes__card-frame:nth-of-type(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.bikes__option-menu {
  display: none;
}
@media screen and (max-width: 800px) {
  .bikes__option-menu {
    display: block;
    width: 114px;
    height: 30px;
    border-radius: 2px;
    border: 1px #e3e3e3 solid;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    background: #f4f4f4;
    margin-top: 40px;
    align-self: baseline;
  }
}
.bikes__picture {
  width: 340px;
  height: 340px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .bikes__picture {
    width: 254px;
    height: 254px;
    background-color: #f4f4f4;
  }
}
.bikes__picture-background {
  width: 380px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: 0px 20px 140px 0px rgba(0, 0, 0, 0.06);
  align-items: center;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  background-color: #f4f4f4;
}
@media screen and (max-width: 800px) {
  .bikes__picture-background {
    width: 284px;
    margin-top: 20px;
    padding-top: 14.5px;
    padding-bottom: 16px;
  }
}
.bikes__point {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .bikes__point {
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 25px;
    background: #cacaca;
  }
  .bikes__point_active_true {
    background: #151515;
  }
}
.bikes__point-nav {
  display: none;
}
@media screen and (max-width: 800px) {
  .bikes__point-nav {
    display: flex;
    width: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
.bikes__show-frame {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-around;
}
.bikes__title {
  width: 460px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: clamp(32px, calc(55px - (1440px - 100vw)*(23/1120)), 55px);
  font-weight: 700;
  line-height: clamp(40px, calc(60px - (1440px - 100vw)*(20/1120)), 60px);
  letter-spacing: -0.5px;
}
@media screen and (max-width: 800px) {
  .bikes__title {
    margin-top: 40px;
    width: 284px;
    align-self: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .bikes {
    box-sizing: border-box;
    max-width: 320px;
    padding: 40px 18px;
  }
}

.two-columns {
  box-sizing: border-box;
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding-top: 120px;
  padding-right: 18px;
  padding-bottom: 60px;
}
.two-columns__picture {
  width: clamp(361.1111111111px, calc(361.1111111111px + (100vw - 800px)*(288.8888888889/640)), 650px);
  height: clamp(255.5555555556px, calc(255.5555555556px + (100vw - 800px)*(204.4444444444/640)), 460px);
  max-width: 650px;
  max-height: 460px;
  grid-area: picture;
}
@media screen and (max-width: 800px) {
  .two-columns__picture {
    max-width: 284px;
    margin-bottom: 40px;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
  }
}
.two-columns__quote {
  margin: 0;
  padding: 0;
  max-width: 470px;
  width: 100%;
  font-weight: 600;
  font-size: clamp(23px, calc(34px - (1440px - 100vw)*(11/1120)), 34px);
  font-weight: 600;
  line-height: clamp(29px, calc(44px - (1440px - 100vw)*(15/1120)), 44px);
  letter-spacing: -0.5px;
}
@media screen and (max-width: 800px) {
  .two-columns__quote {
    margin-bottom: 40px;
  }
}
.two-columns__quote-author {
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: 6px;
  max-width: 470px;
  font-weight: 500;
  font-size: clamp(14px, calc(20px - (1440px - 100vw)*(6/1120)), 20px);
  font-weight: 500;
  line-height: clamp(22px, calc(32px - (1440px - 100vw)*(10/1120)), 32px);
}
@media screen and (max-width: 800px) {
  .two-columns__quote-author {
    margin-bottom: 4px;
  }
}
.two-columns__quote-author-business {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: clamp(10px, calc(16px - (1440px - 100vw)*(6/1120)), 16px);
  font-weight: 400;
  line-height: clamp(16px, calc(28px - (1440px - 100vw)*(12/1120)), 28px);
  opacity: 0.7;
  max-width: 470px;
}
.two-columns__quote-author-business_dark_theme {
  color: #e5e5e5;
}
.two-columns__text-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 470px;
  margin-left: clamp(44.4444444444px, calc(44.4444444444px + (100vw - 800px)*(35.5555555556/640)), 80px);
}
@media screen and (max-width: 800px) {
  .two-columns__text-column {
    max-width: 284px;
  }
}
@media screen and (max-width: 800px) {
  .two-columns {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 284px;
    margin-right: auto;
  }
}

.landscape {
  max-width: 1320px;
  display: grid;
  grid-template-areas: "title" "description" "pictures" "buttons";
  align-self: flex-end;
  position: relative;
}
@media screen and (max-width: 800px) {
  .landscape {
    grid-template-areas: "title buttons" "pictures pictures" "description description";
    align-self: center;
    border-top: #e3e3e3 1px solid;
  }
}
.landscape__button {
  width: 50px;
  height: 50px;
  background-image: url(./../images/landscape/arrow1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  cursor: pointer;
  transition: opacity 200ms ease;
}
.landscape__button_theme_dark {
  background-image: url(./../images/landscape/arrowdark.svg);
}
@media screen and (max-width: 800px) {
  .landscape__button {
    width: 24px;
    height: 24px;
  }
}
.landscape__button:hover {
  opacity: 0.6;
}
.landscape__button_direction_right {
  background-image: url(./../images/landscape/arrowToRight.svg);
}
.landscape__button_direction_right_theme_dark {
  background-image: url(./../images/landscape/arrowdarktoright.svg);
}
.landscape__buttons-row {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 120px;
  list-style-type: none;
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}
@media screen and (max-width: 800px) {
  .landscape__buttons-row {
    width: 58px;
    margin-top: 47px;
    height: 24px;
    align-items: center;
    justify-self: end;
  }
}
.landscape__description {
  margin: 0;
  padding: 0;
  width: 460px;
  font-weight: 400;
  font-size: clamp(12px, calc(18px - (1440px - 100vw)*(6/1120)), 18px);
  font-weight: 400;
  line-height: clamp(18px, calc(28px - (1440px - 100vw)*(10/1120)), 28px);
  opacity: 0.7;
  grid-area: description;
  margin-top: 50px;
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .landscape__description {
    width: 284px;
    margin-bottom: 40px;
  }
}
.landscape__description_dark_theme {
  color: #e5e5e5;
}
.landscape__label {
  background-image: url(./../images/landscape/label.png);
  position: absolute;
  left: 0;
  top: clamp(191.1111111111px, calc(191.1111111111px + (100vw - 800px)*(152.8888888889/640)), 344px);
  width: clamp(55.5555555556px, calc(55.5555555556px + (100vw - 800px)*(44.4444444444/640)), 100px);
  height: clamp(22.2222222222px, calc(22.2222222222px + (100vw - 800px)*(17.7777777778/640)), 40px);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .landscape__label {
    top: 133px;
    width: 70px;
    height: 28px;
  }
}
.landscape__label-mark {
  width: clamp(27.7777777778px, calc(27.7777777778px + (100vw - 800px)*(22.2222222222/640)), 50px);
  height: 1px;
  background-color: white;
  margin-left: clamp(8.8888888889px, calc(8.8888888889px + (100vw - 800px)*(7.1111111111/640)), 16px);
  margin-bottom: clamp(6.6666666667px, calc(6.6666666667px + (100vw - 800px)*(5.3333333333/640)), 12px);
}
@media screen and (max-width: 800px) {
  .landscape__label-mark {
    width: 35px;
    margin-left: 11px;
    margin-bottom: 8px;
  }
}
.landscape__label-mark_bike-type_tt {
  height: 16px;
  background-color: unset;
  background-image: url(./../images/landscape/shosseSvgMark.svg);
  margin-bottom: clamp(1.7142857143px, calc(1.7142857143px + (100vw - 800px)*(10.2857142857/640)), 12px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .landscape__label-mark_bike-type_tt {
    width: 35px;
    margin-left: 11px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.landscape__label-mark_bike-type_shosse {
  background-color: transparent;
}
.landscape__label-mark_bike-type_gravel {
  height: 6.5px;
  background-color: unset;
  background-image: url(./../images/landscape/gravelSvgMark.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  .landscape__label-mark_bike-type_gravel {
    width: 35px;
    margin-left: 11px;
    margin-bottom: 8px;
  }
}
.landscape__picture {
  width: clamp(361.1111111111px, calc(361.1111111111px + (100vw - 800px)*(288.8888888889/640)), 650px);
}
@media screen and (max-width: 800px) {
  .landscape__picture {
    max-width: 284px;
  }
}
.landscape__pictures-row {
  max-width: 1340px;
  width: 100%;
  display: grid;
  grid-area: pictures;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
@media screen and (max-width: 800px) {
  .landscape__pictures-row {
    width: 284px;
    max-height: 175px;
    grid-template-columns: 1fr;
    -moz-column-gap: unset;
         column-gap: unset;
  }
}
.landscape__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: clamp(32px, calc(55px - (1440px - 100vw)*(23/1120)), 55px);
  font-weight: 700;
  line-height: clamp(40px, calc(60px - (1440px - 100vw)*(20/1120)), 60px);
  letter-spacing: -0.5px;
  max-width: 460px;
  width: 100%;
  grid-area: title;
  margin-top: 60px;
}
@media screen and (max-width: 800px) {
  .landscape__title {
    width: 130px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=indexscss.css.map */