.two-columns__quote {
  margin: 0;
  padding: 0;
  max-width: 470px;
  font-weight: 600;
  font-style: normal;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1200px) {
  .two-columns__quote {
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 40px;
  }
}