.bikes__picture-background {
  max-width: 300px;
  background: rgba(196, 196, 196, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 20px;
  overflow-x: scroll;
  list-style: none;
}
