.bikes__picture-background {
  max-width: 300px;
  background: rgba(196, 196, 196, 1);
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  overflow-x: scroll;
  cursor: col-resize;
  scroll-snap-align: x mandatory;
}