.landscape__pictures-row {
  max-width: 1340px;
  width: 100%;
  display: grid;
  grid-area: pictures;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1200px) {
  .landscape__pictures-row {
    width: 284px;
    max-height: 175px;
    grid-template-columns: 1fr;
    column-gap: unset;
  }
}