.bikes__bikes-nav-element {
  margin: 0;
  padding: 0;
  max-width: 62px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  opacity: .7;
  cursor: pointer;
}

.bikes__bikes-nav-element:hover {
  opacity: 1;
  opacity: .6;
}