.introduction__picture-block {
  display: block;
  grid-area: picture;
  width: 810px;
  height: 856px;
  background-image: url(./../../../images/introduction/introduction-picture.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .introduction__picture-block {
    width: 284px;
    height: 348px;
    background-size: contain;
  }
}