.introduction__picture-block {
  display: block;
  grid-area: picture;
  width: 810px;
  height: 856px;
  background-image: url(./../../../images/introduction/introduction-picture.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 1;
}

@