.introduction {
  max-width: 1440px;
  width: 100%;
  grid-area: introduction;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .introduction {
    width: 320px;
    display: grid;
    grid-template-areas:
    'title'
    'picture'
    'description'
    'button';
  }
}