.introduction {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  'title picture'
  'description picture'
  'button picture'
  'manufacturer picture';
  justify-content: end;
  column-gap: 250px;
  grid-template-rows: 200px auto 217px 227px;
}

@media screen and (max-width: 1200px) {
  .introduction {
    width: 320px;
  }
}