.footer__switch {
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
  margin-right: 120px;
}

@media screen and (max-width: 1200px) {
  .footer__switch {
    display: none;
  }
}