.two-columns {

  box-sizing: border-box;
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding-top: 120px;
  padding-right: 18px;
  padding-bottom: 60px;

  &__picture {

    @include responsiveAfter800px(width, 650px);
    @include responsiveAfter800px(height, 460px);

    max-width: 650px;
    max-height: 460px;
    grid-area: picture;

    @include mobile {
      max-width: 284px;
      margin-bottom: 40px;
      border-top: 1px solid $mobile-line-clr;
      padding-top: 20px;
    }

  }

  &__quote {

    margin: 0;
    padding: 0;
    max-width: 470px;
    width: 100%;

    @include font600(font-size, 34px, 23px);
    @include font600(line-height, 44px, 29px);


    letter-spacing: -0.5px;

    @include mobile {
      margin-bottom: 40px;
    }

  }

  &__quote-author {

    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: 6px;
    max-width: 470px;
    @include font500(font-size, 20px, 14px);
    @include font500(line-height, 32px, 22px);

    @include mobile {

      margin-bottom: 4px;
    }

  }

  &__quote-author-business{
    margin: 0;
    padding: 0;
    @include font400(font-size, 16px, 10px);
    @include font400(line-height, 28px, 16px);
    opacity: .7;
    max-width: 470px;

    &_dark_theme {
      color: $two-columns-author-business;
    }

  }

  &__text-column{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 470px;
    @include responsiveAfter800px(margin-left, 80px);

    @include mobile {
      max-width: 284px;
      margin-left: 0;
    }
  }

  @include mobile {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 284px;
  }

}
