.header__burger-menu {
  width: 22px;
  height: 19px;
  margin-top: 28px;
  margin-bottom: 30px;
  margin-right: 18px;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .header__burger-menu {
    display: flex;
  }
}
