.footer__sitename {
  margin: 0;
  padding: 0;
  width: 123px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.59px;
  color: rgba(207, 207, 207, 1);
  margin-left: 18px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .footer__sitename {
    font-weight: 500;
    margin-bottom: 25px;
  }
}