.footer__switchmobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .footer__switchmobile {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url(./../../../images/footer/logo_footer.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}