.two-columns__text-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 470px;
}

@media screen and (max-width:1200px) {
  .two-columns__text-column {
    max-width: 284px;
  }
}