.trainings__picture {
  max-width: 580px;
  max-height: 460px;
  grid-area: picture;
  justify-self: end;
}

@media screen and (max-width:1200px) {
  .trainings__picture {
    max-width: 284px;
    max-height: 225px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-self: auto;
  }
}