.footer__submitemail {
  visibility: hidden;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 27.98px;
  cursor: pointer;
  margin-right: 22px;
}
