.bikes__bikes-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bikes__bikes-nav-element:nth-child(2) {
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 1200px) {
  .bikes__bikes-nav {
    display: none;
  }
}