.two-columns {
  box-sizing: border-box;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  margin-right: 120px;
  padding-top: 120px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .two-columns {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 284px;
  }
}