.footer {

  box-sizing: border-box;
  background: $footer-bg;
  max-width: $desk-max-res;
  display: flex;
  flex-direction: column;

  &__email-info {
    border: none;
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 284px;
    justify-content: space-between;
  }

  &__emailform {
    width: 284px;
    border: 1px solid $footer-email-form-bg;
    border-radius: 4px;
    margin-left: 120px;

    @include mobile {
      margin-left: 0;
    }
  }

  &__input{

    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: $footer-input-bg;
    border: none;
    @include font500(13px, 29.98px);
    outline:  none;
    color: $footer-clr;
    margin-left: 20px;

    @include mobile {
      height: 50px;
    }



  }

  &__row {
    display: flex;
    align-items: flex-end;
    min-height: 180px;
    justify-content: space-between;
    margin-left: 120px;

    @include mobile {
      min-width: 320px;
      min-height: 144px;
      margin-left: 0;
    }
  }

  &__sitename {
    margin: 0;
    padding: 0;
    width: 123px;
    @include font600(14px, 19.59px);
    color: $footer-sitename-clr;
    margin-left: 18px;
    margin-bottom: 60px;

    @include mobile {
      font-weight: 500;
      margin-bottom: 25px;
    }
  }

  &__submitemail{
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    @include font500(13px, 27.98px);
    cursor: pointer;
    margin-right: 22px;

    &_active_true {
      visibility: visible;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    width: 229px;
    @include font600(24px, 32px);
    margin-left: 120px;
    margin-top: 80px;
    margin-bottom: 50px;

    @include mobile {
      width: 284px;
      margin-top: 60px;
      margin-left: 0;
    }
  }

  &__switchmobile {

    display: none;

    @include mobile {
      display: block;
      width: 38px;
      height: 38px;
      background-image: url(./../../../images/footer/logo_footer.png);
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

  @include mobile {
    align-items: center;
    max-width: 320px;
    align-self: center;
  }

}