.landscape__label-mark_bike-type_tt {
  width: 50px;
  height: 16px;
  background-color: unset;
  background-image: url(./../../../../images/landscape/shosseSvgMark.svg);
  margin-left: 16px;
  margin-bottom: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .landscape__label-mark_bike-type_tt {
    width: 35px;
    margin-left: 11px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}