.bikes__point-nav {
  display: none;
}

@media screen and (max-width: 1200px) {
  .bikes__point-nav {
    display: flex;
    width: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}