@property --vsbl {
  syntax: '*';
  inherits: false;
  initial-value: hidden;
}

.footer {
  box-sizing: border-box;
  background: rgba(239, 239, 239, 1);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .footer {
    align-items: center;
  }
}