.switch__darkmodepicture {
  background-image: url(./../../../images/footer/moon.png);
  background-repeat: no-repeat;
  height: 28px;
  width: 28px;
  background-position: center;
  margin-left: 22px;
}