.introduction__manufacturer-row {
  display: flex;
  align-items: center;
  grid-area: manufacturer;
  align-self: start;
}

@media screen and (max-width: 1200px) {
  .introduction__manufacturer-row {
    grid-area: unset;
    display: none;
  }
}